@import './assets/variables.css';

.app {
	background: var(--super-gray);
	box-sizing: border-box;
	padding: 20px;
}

.logo {
	text-align: center;
}

button {
	&.active {
		font-weight: bold;
	}
}

video {
	width: 100%;
	height: calc(100% - 200px);
}

.controls {
	margin: 10px 0;
}
